<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
</head>
<body>
<!--Tienda-->
<form action="/irainsert">
    <button type="submit">Insertar Tienda</button>
</form>


<form action="/iraconsultar">
    <button type="submit">Consultar Tienda</button>
</form>


<form action="/iraactualizar">
    <button type="submit">actualizar Tienda</button>
</form>


<form action="/iraborrar">
    <button type="submit">Borrar Tienda</button>
</form>

<!-- Botón para consultar todas las tiendas -->
<form action="/consultarTodas" method="get">
    <button type="submit" class="btn btn-primary">Consultar Todas las Tiendas</button>
</form>


<br>

<!--Zapatilla-->
<form action="/irainsertarZapa">
    <button type="submit">Insertar --zapatilla--</button>
</form>

<form action="/iraborrarZapa">
    <button type="submit">Borrar --zapatilla--</button>
</form>
<form action="/iraconsultarZapa">
    <button type="submit">consultar Zapatilla</button>
</form>
<form action="/consultarTodasZapas" method="get">
    <button type="submit" class="btn btn-primary">Consultar Todas las zapatillas</button>
</form>

</body>
</html>