<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 th:text="|${out}|"></h1>
    <p><strong>ID Tienda:</strong> <span th:text="${id}"></span></p>
    <p><strong>Nombre Tienda:</strong> <span th:text="${Nombre_Tienda}"></span></p>    
    <p><strong>Ubicación:</strong> <span th:text="${Ubicacion}"></span></p>
    <p><strong>URL:</strong> <span th:text="${URL}"></span></p>
    <a href="http://localhost:8098/inicio"><button>Volver al index</button></a>

</body>
</html>
