<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Borrar Zapatilla</title>
</head>
<body>
    <h1>Borrar Zapatilla</h1>
    <form name="formuMEME" action="/borrarZapa" method="get">
        <!-- Campo ID -->
        <label for="idZapatilla">ID de Zapatilla:</label><br>
        <input type="text" id="idZapatilla" name="idZapatilla" placeholder="Introduce la id de la zapatilla" required><br><br>
        
        <!-- Botón de Envío -->
        <button type="submit">Eliminar</button>
    </form>

    <p>Si quieres volver al index pulsa el boton</p>
    <a href="http://localhost:8098/inicio"><button>Volver al index</button></a>

</body>
</html>
