<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Consultar Tienda</h1>
    <form name="formuMEME" action="/consultar" method="get">

        <!-- Campo ID -->
        <label for="id">ID:</label><br>
        <input type="text" id="id" name="id" placeholder="Ingresa tu ID" required><br><br>

        <button type="submit">Enviar</button>
    </form>
    <p>Si quieres volver al index pulsa el boton</p>
    <a href="http://localhost:8098/inicio"><button>Volver al index</button></a>

</body>
</html>
